html { 
  background: url(css/images/beach-background-14.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;

  background-size: cover;
}


@font-face {
	src: url('css/font/BebasNeue.otf');
	font-family:BebasNeue;
}

@font-face {
	src: url('css/font/Market_Deco.ttf');
	font-family:MD;
}

a:link {
	color:white;
	text-decoration: none;
}

a:visited {
	color:white;
	text-decoration: none;
}

a:hover   {
	color:white;
	text-decoration: none;
}

a:active  {
	color:white;
	text-decoration: none;
}

select {
	width: 200px;
	height: 30px;
	font-size: 20px;
	padding-bottom: 8px;
	margin:auto;
}

button {
	height: 30px;
	margin: auto;
  
}

h1 {

	height: 70px;
	color: white;
	background-color: #DA3C3E;
	text-align: center;
	width: 600px;
	margin: auto;
	font-size: 50px;
	vertical-align: text-middle;
	font-family: BebasNeue;
	padding-top: 8px;
}


form {
	
    margin: 0 auto;
 }
 
#main_buttons {
	padding-top: 50px;
	border: none;
	width: 420px;
	margin: 0 auto;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#main_menu_button {
	background-color: #DA3C3E;
	color: white;
	height: 100px;
	width: 200px;
	border: none;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-size: 30px;
	font-family: BebasNeue;
}

#main_menu_button:hover { 
    background-color: #870000;
}
#main_menu_button:active  {
	color: #ff0000 ;	
}

#return_button {
	background-color: #DA3C3E;
	color: white;
	height: 100px;
	width: 200px;
	border: none;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-size: 30px;
	font-family: BebasNeue;
	margin:auto;
}

#return_button:active  {
	color: #ff0000 ;	
}

#return_button:hover { 
    background-color: #870000;
}

.divider{
    width:20px;
    height:auto;
    display:inline-block;
	padding-left:20px;
}

body {
	margin-right: auto;
   margin-left: auto;
}

footer {
	position:relative;
	text-align:center;
	color: #DA3C3E;
	margin-left:auto;
	margin-right:auto;
	width:auto;
	font-size:30px;
	margin-bottom:auto;
	border-color: red;
	font-family: BebasNeue;
	position: relative;
	
	height: 180px;
  
}

label {
	font-family: BebasNeue;
	font-size: 25px;
}

#login {
	width: 600px;
	height: 300px;
	border-color: #DA3C3E;	
	margin:auto;
	padding-top:50px;
	
}

legend {
	font-family: BebasNeue;
	font-size: 30px;
	color: #DA3C3E;
}

#login_feild {
	border-color: #DA3C3E;
	margin:auto;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	width:300px;
	
}

#login_submit {
	margin-top:20px;
	background-color: #DA3C3E;
	font-size: 30px;
	width:100px;
	font-family:BebasNeue;
	padding:3px;
	color:white;
	border:none;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
#login_submit:active  {
	color: #ff0000 ;	
}

#login_submit:hover { 
    background-color: #870000;
}

#member_pass_user {
height:30px;
width:300px;
}
#guest_pass_user {
height:30px;
width:300px;
margin-bottom:10px;
}

#club_select {
margin-bottom:10px;
}

#club {
width:304px;
height:35px;
font-family: BebasNeue;
font-size:25px;
}


select:disabled {
 color: white; 
}
select option:disabled {
	color: white;
}

#selectPatrol {
margin-top:20px;
width:304px;
}

#patrols {
width:304px;
}

.content {
height:500px;
}

.content_members {
width: 600px;
margin: 0 auto
}

table {
margin:auto;
text-align:center;
background-color:white;
color:#DA3C3E;
font: MD;
Width:400px;
border-style: solid;
border-width:1.5px;
border-color: #DA3C3E;
}

#signout {

	background-color: #DA3C3E;
	font-size: 30px;
	width:200px;
	font-family:BebasNeue;
	padding:3px;
	color:white;
	border:none;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	height:50px;
	
}

#signoutuser {
height:39px;
width:300px;
display:inline;
padding-top:7px;
}

.together {
margin-top:20px;
height:60px;

}

.content_operating {
width: 600px;
margin: 0 auto;
padding-top:50px;
padding-bottom:50px;
}


